[Unit]
Description=Streams Downloader Service
After=network.target

[Service]
Type=simple
User=landry
WorkingDirectory=/home/landry/Dev/Python/streams_dl
ExecStart=/home/landry/Dev/Python/streams_dl/.venv/bin/python /home/landry/Dev/Python/streams_dl/api.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
